@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  /* background: #272727; */
  font-family: "Montserrat", sans-serif;
}
.navMenu {
  height: 10%;
    position: fixed;
    top: 0;
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background: rgba(255,255,255, 0.25);
    z-index: 10;
    backdrop-filter: blur(6px);
    font-family: 'Poppins';
}

.logo{
    display: flex;
    align-items: center;
    
    
}
/* .section {
  height: 100vh;
} */
.brand-title{
    font-size: calc(15px + 1vw);
}

.brand-title span{
    color: white;
}

.nav-icons img{
  height: 5vh;
}

.nav-icons img{

  
  padding-left: 40px;
}

.navMenu a {
  
  color: #272727;
  text-decoration: none;
  font-size: calc(15px + 0.4vw);
  text-transform: uppercase;
  font-weight: 500;
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.navMenu a:hover {
  color: #fddb3a;
}

.navMenu .dot {
  width: 55px;
  height: 55px;
  background: #fddb3a;
  border-radius: 50%;
  opacity: 0;
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}


.navMenu a:nth-child(1):hover ~ .dot {
  -webkit-transform: translateX(30px);
  transform: translateX(30px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(2):hover ~ .dot {
  -webkit-transform: translateX(110px);
  transform: translateX(110px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(3):hover ~ .dot {
  -webkit-transform: translateX(200px);
  transform: translateX(200px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

.navMenu a:nth-child(4):hover ~ .dot {
  -webkit-transform: translateX(285px);
  transform: translateX(285px);
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
  opacity: 1;
}

#home{
    background-image: url("assets/agriculture-1807581_1920.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    height: 100vh;
}

.home-container{
 position: relative;
  top: 40%;
  text-align: right;
  padding-right: 1%;
  /* left: 10%; */
  color: black;
  font-size:2.5vw;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
  font-family: 'Press Start 2P';
}
.home-container span{
  color: #3E4F97;
}

.download{
  transition: all .5s ease;
    color: #000000;
    border: 3px solid rgb(0, 0, 0);
    font-family: "Poppins";
    text-align: center;
    line-height: 1;
    font-size: 1.4vw;
    background-color : transparent;
    padding: 10px;
    outline: none;
    border-radius: 20px;
}
.download:hover {
  color: #001F3F;
  background-color: #b7beb4;
}

#services{
    color: #D5DEE8;
    background: #1C1B2A;
    position: relative;
}

.ser-head{
    padding: 30px;
    font-size: calc(25px + 1.4vw);
    font-family: 'Poppins';
}

.more-icons img{
  height: 3rem;
  width: 3rem;
}

.ser-container{
    
    height: 100vh;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}


.mobs{
    position: absolute;
    height: 65%;
    left: 0;
    bottom: 0;
    display: table-cell;
    vertical-align: bottom;
}

.mob1{
    height: 100%;
}

.mob2{
    height: 80%;
}

.serright{
   display: flex;
    justify-content: center;
    height: 100%;
    flex-direction: column;
    font-family: 'Poppins';
}

.serpt{
    padding: 50px 20px;
}

.serpt h3{
  font-size: calc(15px + 1.4vw);
  text-align: right;
}

.serpt p{
  font-size: calc(1.4vw);
  text-align: right;
  font-weight: 100;
}

#team{
    background: white;
    font-family: 'Poppins';
    /* height: 100vh; */

}

#contact{
    background: #1C1B2A;
    height: 100vh;
    color: white;
    display: flex;
    position: relative;
    font-family: 'Poppins';
}

.conleft{
    width: 50%;
    padding: 100px 30px;
    height: 100vh;
}

.conhead{
  font-size: calc(35px + 1vw);
}
.consub{
  font-size: calc(15px + 0.4vw);
}

.app-form{
   position: relative;
  top: 20%;
  /* -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%); */
  font-size: 2rem;
}

.app-form-group {
  margin-bottom: 15px;
}

/* .app-form-group.message {
  margin-top: 40px;
} */

.app-form-group.buttons {
  margin-bottom: 0;
  text-align: right;
}

.app-form-control {
  width: 100%;
  background: none;
  border: none;
  border-bottom: 1px solid #7A7A7A;
  color: #ddd;
   font-size: calc(15px + 0.4vw);
  text-transform: uppercase;
  outline: none;
  transition: border-color .2s;
}

.app-form-control::placeholder {
  color: #7A7A7A;
}

.app-form-control:focus {
  border-bottom-color: #ddd;
}

.app-form-button {
  transition: all .5s ease;
  color: #7A7A7A;
  border: 0.2rem solid #7A7A7A;
  font-family: "Poppins";
  text-align: center;
  line-height: 1;
   font-size: calc(15px + 0.4vw);
  background-color : transparent;
  padding: 0.7rem 1.5rem 0.7rem 1.5rem;
  outline: none;
  border-radius: 20px;
}
.app-form-button:hover {
color: #001F3F;
background-color: #7A7A7A;
}


.conright img{
    height: 70%;
    position: absolute;
    right: 0;
    bottom: 0;
}


.text-blk {
font-size: calc(15px + 0.4vw);
font-weight: bold;
color: #DAE2EB;
  /* padding: 10px;
  line-height: 25px; */
}

.responsive-cell-block {
  min-height: 75px;
  display:table;
}

.responsive-container-block {
  min-height: 75px;
  display:table-cell;
  width: 75%;
  padding: 10px;
  margin-top: 0px;
  margin-bottom: 0px;
}

.outer-container {
  width: 100vw;
  background-color: #41784D;
  /* height:100vh; */
}

.inner-container {
  width: 100vw;
  padding: 10px;
  margin-top: 50px auto;
}

.heading-text {
  font-size: 3rem;
  line-height: 50px;
  font-weight: 900;
  display: flex;
  flex-direction: column;
  padding: 10px;
}

.sub-heading-text {
  line-height: 26px;
  color:#9BC71D;
  padding: 0px;
  font-weight: bold;
  padding: 0px 10px;
}

.name {
  font-size: 1.3rem;
  font-weight: bold;
  /* line-height: 24px; */
  color: #ffffff;
  padding-top: 15px;
  padding-right: 10px;
  padding-bottom: 5px;
  text-align: center;
}

.position {
  font-size: 1.2rem;
  color: #ffffff;
  font-weight: 600;
  padding-top: 6px;
  text-align: center;
}

.card {
  /* width: 20vw; */
  display: block;
  flex-direction: column;
  align-items: center;
  padding: 10px;
}

.card-img {
  width: 70%;
  height: 70%;
  margin-top: 0px;
  margin-bottom: 0px;
  max-width: 300px;
  min-width: 120px;
}

.card-container {
  width: 20%;
  min-width: 200px;
  display: inline-block;
  margin-bottom: 40px;
}

.headings-container {
  padding-right: 10px;
}

.team-members-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  margin-top: 10vh;
}

.final-msg {
  color: #7A7A7A;
  margin-top: 10px;
  font-size: 1rem;
}
/* 
@media (max-width: 1024px) {
  .name {
    padding-top: 10px;
    padding-right: 10px;
    padding-bottom: 5px;

  }

  .position {
    padding-right: 10px;
    padding-bottom: 10px;
  }

  .card-img {
    width: 100%;
    min-width: 100%;
    height: 250px;
    min-height: 230px;
    max-height: 230px;
  }
} */
